/* ----------------------------------------

Styles for Media Queries Practice Exercise
Author: Daniel Hill

----------------------------------------- */
.box0 {
    background-color: red;
    width: 100%;
    height: 200px;
}
.box1 {
    background-color: lightblue;
    width: 33.33333%;
    height: 200px;
}
.box2 {
    background-color: chartreuse;
    width: 33.33333%;
    height: 200px;
}
.box3 {
    background-color: slateblue;
    width: 33.33333%;
    height: 200px;
}
.box4 {
    background-color: cyan;
    width: 50%;
    height: 200px;
}
.box5 {
    background-color: yellow;
    width: 50%;
    height: 200px;
}
.box6 {
    background-color: royalblue;
    width: 25%;
    height: 200px;
}
.box7 {
    background-color: pink;
    width: 25%;
    height: 200px;
}
.box8 {
    background-color: bisque;
    width: 25%;
    height: 200px;
}
.box9 {
    background-color: firebrick;
    width: 25%;
    height: 200px;
}
.flexcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
    .width1 {
        width: 50%;
    }
    .width2 {
        width: 33.3333%;
    }
}
@media screen and (max-width: 640px){
    .width3 {
        width: 50%;
    }
    .width4 {
        width: 100%;
    }
}